footer {
  height: 80px;
  margin-top: 10%;
}

.nav-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include desktop {
    padding-left: 50em;
  }
}

.menu {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  margin-left: 0;

  li {
    border-right: 1px solid $primery-color;
    line-height: 1;
  }
  a {
    text-decoration: none;
    color: $green-color;
    padding-right: 1em;
    padding-left: 1em;
  }
}
.link-to-red {
  padding-left: 1em;
  a {
    text-decoration: none;
    color: $green-color;
  }
}
