footer {
  height: 350px;
  margin-top: 18%;
}
// .nav-info {
// }

// .main-navigation {
// }
.nav-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  margin-left: 0;

  li {
    border-right: 1px solid #fff;
    line-height: 1;
  }
  a {
    text-decoration: none;
    color: #0c0;
    padding-right: 1em;
    padding-left: 1em;
  }
}
.link-to-red {
  a {
    text-decoration: none;
    color: #0c0;
  }
}
