/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border: 2px solid;
  border-color: $green-color;
  border-radius: 3px;
  background: #222;

  color: $green-color;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.6rem 2rem 0.4rem;

  &:hover {
    border-color: #ccc #bbb #aaa;
  }

  &:active,
  &:focus {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5),
      inset 0 2px 5px rgba(0, 0, 0, 0.15);
  }
}

/* Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
  background-color: #222;
  border: 2px solid $green-color;
  border-radius: 3px;

  &:focus {
    color: #111;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
  padding: 0.5em 2em;
  @include tablet {
    padding: 0.5em 10em;
  }
}

textarea {
  padding-left: 3px;
  width: 100%;
  @include tablet {
    width: 130%;
  }
  @include desktop {
    width: 130%;
  }
}
.fa-search {
  content: '\f002';
  font-family: 'Fontawesome';
  border-color: #222;
}
