body {
  background: $background-color;
  color: $primery-color;
  padding: 1em;
  line-height: 1.5;
  font-family: 'Exo', sans-serif;
  font-weight: lighter;

  .logo {
    @include desktop {
      text-align: center;
    }
  }

  a {
    text-decoration: none;
    color: $green-color;
  }
}
img {
  width: 22em;
  padding: 2em 2em 0 0;
  @include tablet {
    width: 35em;
  }
  @include desktop {
    width: 45em;
  }
}

.source {
  padding-top: 1.7em;
  a {
    color: $green-color;
  }
}
.entry-meta {
  display: flex;
  flex-direction: row;
}
.button {
  @include desktop {
    padding-left: 15em;
  }
}
button {
  font-size: 1.1rem;
  text-shadow: none;
  background-color: #222;
  border: 2px solid $green-color;
  border-radius: 3px;
  color: $green-color;
  box-shadow: none;

  line-height: 1;
  padding: 0.8em 2.5em;
}
.post {
  .entry-content {
    p {
      font-size: 1.25rem;
      @include tablet {
        font-size: 2rem;
      }
      @include desktop {
        font-size: 2.5rem;
        text-align: center;
      }
    }
  }
}

.site-content {
  @include desktop {
    max-width: 800px;
    position: relative;
    margin: 0 auto;

    &::before {
      content: '\f10d';
      font-family: 'FontAwesome';
      font-size: 8rem;
      font-weight: 900;
      position: absolute;
      left: -175px;
      top: 0;
      color: $green-color;
    }
    &::after {
      content: '\f10e';
      font-family: 'FontAwesome';
      font-size: 8rem;
      font-weight: 900;
      position: absolute;
      right: -175px;
      top: 0;
      color: $green-color;
    }
  }
}
