.browse-archives {
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 2em;
    a {
      text-decoration: none;
      color: #0c0;
    }
  }
}
